{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h2>Existing banks</h2>

<section class="fence">
  <div id="title-block">
    <h2>Link a bank account to receive disbursements</h2>
  </div>
  <progress-bar></progress-bar>
  <div id="main">
    <div class="gap">
    </div>
    <div class="q-block">
      <label>Select bank <br>
        <select class="" id="yoo" name="">
          {% for bank in banks %}
          <option value="{{ bank.code }}">{{ bank.name }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    <div class="q-block">
      <label>Enter account number
        <input type="" id="yaa" onkeyup="yaa()" value="">
      </label>
      <p id="validation"></p>
    </div>
  </div>
</section>

<script type="text/javascript">
  function yaa() {
    var acc_no = document.getElementById("yaa").value.trim();
    var bank_code = document.getElementById("yoo").value.trim();

    // Update the condition to resolve account if there are 10 digits
    // and bank then changes.
    if (acc_no.length > 9) {
      console.log(bank_code)
      $.ajax({
        type: "POST",
        url: "/sprout/resolve_account/",
        data: {
          bank_code: bank_code,
          acc_no: acc_no,
          csrfmiddlewaretoken: "{{csrf_token}}"
        },
        callback: function(response){
          // $("#validation").text(data.validation);
          console.log(response.validation);
        },
      });
    }
  };
</script>

<!-- <form method="post" id="add_recipient">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit"> Link Account </input>
</form> -->





{% endblock %}
