{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h2>Existing banks</h2>
{% for bank in banks %}

{% endfor %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>
<form class="" action="index.html" method="post">
    <section v-show="step === 5" class="fence">
      <div id="title-block">
        <h2>(For Payment) You are about to set aside $amount for $budget. Confirm the details and proceed</h2>
      </div>
      <progress-bar></progress-bar>
      <div id="main">
        <div class="gap">
        </div>
        <div class="q-block">
          <label class="bank">
            <p class="acc-name">Budget name:</p>
            Pocket Money
          </label>
        </div>
        <div class="q-block">
          <label class="bank">
            <p class="acc-name">Amount to set aside</p>
            &#8358; 20,000
          </label>
        </div>
        <div class="q-block">
          <label class="bank">
            <p class="acc-name">Disbursement</p>
            Every two weeks
          </label>
        </div>
        <div class="q-block">
          <label class="bank">
            <p class="acc-name">Start date</p>
            July 06, 2019
          </label>
        </div>
        <div class="q-block">
          <label class="bank">
            <p class="acc-name">Linked account</p>
            GTBank 0011223344
          </label>
        </div>
      </div>
    </section>
    <!-- this is the linking account section -->
    <section class="fence">
      <div id="title-block">
        <h2>Link a bank account to receive disbursements</h2>
      </div>
      <progress-bar></progress-bar>
      <div id="main">
        <div class="gap">
        </div>
        <div class="q-block">
          <label>Select bank
            <option value="">Bank</option>
          </label>
        </div>
        <div class="q-block">
          <label>Enter account number
            <input type="" name="" value="">
          </label>
          <p class="validation">validation</p>
        </div>
      </div>
    </section>
    <div class="nav">
      <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}
