{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h2>Existing banks</h2>

<section class="fence">
  <div id="title-block">
    <h2>Link a bank account to receive disbursements</h2>
  </div>
  <progress-bar></progress-bar>
  <div id="main">
    <div class="gap">
    </div>
    <div class="q-block">
      <label>Select bank <br>
        <select class="" name="">
          {% for bank in banks %}
          <option value="{{ bank.code }}">{{ bank.name }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    <div class="q-block">
      <label>Enter account number
        <input type="" id="yaa" onkeyup="yaa()" value="">
      </label>
      <p class="validation">validation</p>
    </div>
  </div>
</section>

<script type="text/javascript">
  function yaa() {
    var acc_no = document.getElementById("yaa").value.trim();
    console.log(acc_no)

    if (acc_no.length > 9) {
      $.ajax({
        type: "POST",
        url: "/sprout/resolve_account/",
        data: {
          bank_code: $("{{ bank_code }}").val(),
          acc_no: $(acc_no).val(),
          csrfmiddlewaretoken: "{{csrf_token}}"
        },
        success: function(response){
          alert("We're good")
        },
      });
    }
  };
</script>

<!-- <form method="post" id="add_recipient">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit"> Link Account </input>
</form> -->





{% endblock %}
