{% extends 'base.html' %}

{% block head %}
<title>Enter new password</title>
{% endblock %}

{% block body %}
{{ response }}
<!-- <form >
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <button type="button" v-on:click="payWithPaystack()"> Pay </button>
</form> -->
<form>
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <button type="button" onclick="payWithPaystack()"> Pay </button>
</form>

<script>
  function payWithPaystack(){
    var handler = PaystackPop.setup({
      key: "{{ pk }}",
      // key: 'pk_live_163e7cf486ffc7c6458472600beea80901168692',
      email: "{{ email }}",
      amount: {{ amount }},
      currency: "{{ currency }}",
      // ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      metadata: {
         custom_fields: [
            {
                display_name: "Mobile Number",
                variable_name: "mobile_number",
                value: "+2348012345678"
            }
         ]
      },
      callback: function(response){
        $.ajax({
          type: "POST",
          url: "/sprout/payment_verification/",
          data: {
            "pay_ref": response.reference,
            "csrfmiddlewaretoken": "{{csrf_token}}"
          },
          success: function(response){
            window.location.href = "/sprout/";
          },
        });
      },
      onClose: function(){
          alert('window closed');
      }
    });
    handler.openIframe();
  }
</script>
{% endblock %}
